---
import { getCollection } from "astro:content";
import Template from "./../../components/BlogTemplate.svelte";
import CommonHead from "./../../components/CommonHead.astro";

export async function getStaticPaths() {
	const blogEntries = await getCollection("blog");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<CommonHead title={entry.data.title} desc="" />
<Template entry={entry} client:load>
	<Content />
</Template>
<footer>
	<p xmlns:cc="http://creativecommons.org/ns#">
		This work is licensed under <a
			href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
			target="_blank"
			rel="license noopener noreferrer"
			style="display:inline-block;"
			>CC BY 4.0
		</a>
		<img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" />
		<img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" />
	</p>
</footer>
