$bg: #2e2a31;
$bg-layer: #4a464d;
$primary: #796af5;
$secondary: #17ad98;
$comp: #bb60ea;
$light: #f5f4f7;
$light-ish: #d8d7da;
$shadow: #4a464d50;
$glass-pane: #bcbabe55;
$p: 14px;
$br: 4px;

.svelvet-wrapper {
	border-radius: $br;
	border: none;
}

.svelvet-node {
	background-color: $bg !important;
	color: $light !important;
	padding: 2px $p;
	border-radius: $br !important;
	font-size: 24px !important;
}

.edge {
	stroke-dasharray: 19;
	stroke-width: 4px !important;
}

main > div {
	padding: 28px;
}

:root {
	--default-anchor-connected: #{$primary} !important;
	--default-anchor-connected-border: 0 !important;
	--default-anchor-radius: $br !important;
	--default-edge-color: #{$secondary} !important;
	--default-edge-width: 5px !important;
	--default-controls-background-color: #{$bg} !important;
	--default-controls-text-color: #{$light} !important;
}

::selection {
	background: $primary;
}

.grid {
	display: flex;
	justify-content: space-around;
	padding: $p;
	flex-wrap: wrap;
}

.item {
	padding: $p;
	background-color: $glass-pane;
	border-radius: $br;
	margin: 12px 0;
	width: 25%;
	transition-duration: 0.3s;
	a {
		padding: 6px 12px;
	}
	&:hover {
		* {
			color: $bg !important;
		}
		scale: 1.05;
		box-shadow: $shadow 0 0 30px $br;
		background: $primary top/10% url("/personal-site/brick-wall.png");
	}
}

#logo {
	img {
		display: inline !important;
		width: 150px;
	}
}

strong {
	color: $secondary !important;
}

blockquote {
	padding-left: 8px;
	border-left: $secondary 6px groove;
	font-style: italic;
	color: $secondary;
	font-size: calc(10px + 0.390625vw);
}

.big-pad {
	padding: 12px calc(6px + 3.6vw);
}

.waterfall {
	color: $glass-pane;
	padding: 0 8px;
	strong {
		border-top: $primary 4px solid;
		border-bottom: $primary 4px solid;
	}
}

article {
	padding: 0 calc(50px + 20vw);
}

footer {
	margin-top: 100px;
	img {
		height: 22px;
		display: inline;
		width: max-content;
	}
}

#details {
	color: $glass-pane;
	display: flex;
	justify-content: center;
}

#collapser {
	display: none;
	font-size: 40px;
}

.flexCentred {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

// Media queries
@media (max-width: 980px) {
	// ipad devices
	.item {
		width: 33%;
	}
	article {
		padding: 0 calc(30px + 4vw);
	}
}
@media (max-width: 654px) {
	// mobile devices
	.item {
		width: 80%;
	}
	header {
		flex-direction: column;
		transition: 0.4s;
	}
	nav {
		width: 100%;
		transition: 0.4s;
		& > a {
			width: 100%;
			text-align: left;
		}
	}
	nav.hidden {
		display: none;
	}
	#collapser {
		color: $secondary;
		position: absolute;
		display: block;
		top: $p;
		right: $p;
		transform: none;
		border-radius: $br;
		i {
			transition: 0.3s;
		}
	}
	.bi-plus.hidden {
		transform: rotate(45deg);
		display: inline-block;
	}
}
