@import "./app.scss";

body {
  background-color: $grey;
  color: $light;
  font-family: Comfortaa, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Iosevka Etoile", Mada, serif;
}

h1 {
  font-size: calc(2.5vw + 30px);
}
h2 {
  font-size: calc(2vw + 30px);
}
h3 {
  font-size: calc(1.5vw + 32px);
}
h4 {
  font-size: calc(1vw + 20px);
}
h5 {
  font-size: calc(0.5vw + 18px);
}
h6,
p {
  font-size: calc(15px + 0.390625vw);
}

a {
  color: $secondary;
  transition: 0.3s;
  display: inline-block;
  &:hover {
    transform: scale(1.07);
    background-color: $glass-pane;
  }
}

button {
  background-color: $glass-pane;
  border: none;
  font-size: 24px;
  transition: 0.3s;
  &:active,
  &:hover {
    transform: scale(1.07);
    border: $comp 4px solid;
  }
}

img {
    display: block; 
    margin: 0 auto; 
    width:30vw; 
    image-rendering: pixelated;
}

header {
  border-bottom: 12px $comp groove;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  #logo {
    flex: 1;
    img{
        display: inline !important;
        width: 150px;
    }
    &:hover {
      border: 4px solid $comp;
      transform: none;
    }
  }
  a {
    padding: $p;
    border-radius: $br;
  }
}
