---
import CommonHead from "../components/CommonHead.astro";
import Index from "./../components/Index.svelte";
---

<CommonHead title="Error 404" desc="" />
<Index client:load>
  <main>
    <h1><strong>Error 404</strong></h1>
    <h1>How'd you end up here?</h1>
    <h2>
      Report a missing page <a href="https://github.com/Abban-Fahim/personal-site/issues">here</a>
    </h2>
  </main>
</Index>
