@import "./variables.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Comfortaa&family=Major+Mono+Display&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

html{scrollbar-color: $primary $glass-pane;}
body{margin: 0; padding: 0;}
::-webkit-scrollbar{background-color: $secondary; width: $br;}
::-webkit-scrollbar-thumb{background-color: $primary; border-radius: $br;}

// Text styles
h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 66px;
  text-align: center;
  font-weight: normal;
  transition-duration: 0.5s;
  transform: rotate(360deg);
}
h2 {
  font-family: "Comic Neue", sans-serif,;
  font-size: 55px;
  font-weight: normal;
}
h3{font-family: "Comic Neue", sans-serif;}
p{font-family: 'Comfortaa', sans-serif;}

// Base component styles
button{
  border-radius: $br;
  border: none;
  background: transparent;
  height: max-content;
  padding: $p;
  font-size: 28px;
}
button:hover, button:active{background-color: $glass-pane;}

// Dark mode and page layout styles
.dark {
  background-color: $grey;
  color: $light !important;
  header {
    background-color: $grey;
    h1 {
      color: $light;
      transform: rotate(180deg);
    }
  }
  .side-menu {
    background-color: #10101f99;
    h1:hover {
      background-color: $grey;
    }
  }
}
.page {
  text-align: center;
  padding: 30px;
  flex-direction: column;
}
footer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.socials {
  a {
    color: $grey;
    text-decoration: none;
    font-size: 34px;
    &:hover {
      color: $primary;
    }
  }
  padding: $p;
  bottom: 1vw;
  position: absolute;
}
header {
  background-color: $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 90px;
    &:hover{@include gradient-text($primary-gradient);}
  }
}
.side-menu {
  overflow: hidden;
  position: absolute;
  background-color: #efefef99;
  width: 100vw;
  min-height: 100vh;
  left: -100vw;
  transition: 0.75s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 18;
  h1 {
    border-bottom: 2px $grey solid;
    align-self: center;
    padding: 50px;
    cursor: pointer;
    &:hover {
      background-color: $light;
    }
  }
}
.side-menu.visible {left: 0;}

// Layout styles
.grid{
  display: flex;
  justify-content: space-around;
  padding: $p;
  flex-wrap: wrap;
}
.item{
  padding: $p;
  background-color: #efefef90;
  border-radius: $br;
  img{border-radius: $br;}
  margin: 12px 0;
  width: 25%;
  transition-duration: .4s;
  &:hover{
    scale: 1.05;
    box-shadow: $shadow 0 0 60px $br;
  }
}

// addons classes
.gradient{
  @include gradient-text($primary-gradient);
}
.icon{
  padding: $p;
  color: inherit;
  border-radius: $br;
  &:hover, &:active{
    background-color: $glass-pane;
  }
}


// Media queries
@media (max-width: 900px) { // ipad devices
  .item{width: 33%;}
}
@media (max-width: 654px) { // mobile devices
  .item{width: 80%;}
}
